.stats-page.ui.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.stats-title {
  font-weight: bolder !important;
  letter-spacing: 3px;
}

.about-this-repo-title {
  letter-spacing: 2px;
}

.about-this-repo-icon {
  padding-left: 1rem !important;
  color: rgba(0, 0, 0, 0.85);
}