#root {
  height: 100vh;
  min-height: 600px;
  min-width: 1000px;
}

.sidebar {
  padding-left: 60px;
  background-color: #F7F7F7;
}

.sidebar .ui.section.divider.top-divider {
  margin-top: 7rem; 
}

.sidebar .header .name,
.sidebar .header .title {
  font-size: 20px;
  font-weight: bolder;
}

.sidebar .header .name {
  padding-bottom: 15px;
}

.sidebar .header .title {
  color: #FC97DF;
}

.sidebar .menu .item.active span {
  border-bottom: 3px solid #FC97DF;
}

.sidebar .menu .item:not(.active) span {
  position: relative;
}

.sidebar .menu .item:not(.active) span:after {
  content: '';
  display: block;
  border-bottom: 3px solid #FC97DF;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -3px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.sidebar .menu .item:not(.active) span:hover:after {
  width: 100%;
}

.sidebar .contact-icon-container > div {
  display: flex !important;
  justify-content: space-between;
  padding-right: 60px;
}

.sidebar .contact-icon-container a {
  color: rgba(0, 0, 0, 0.87);
}

.sidebar .contact-icon-container a:hover {
  color: #FC97DF;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.copy-right-footer {
  font-size: 11px;
  position: fixed;
  bottom: 30px;
}



.copy-right-footer p {
  margin-bottom: 0;
  color: grey;
}
