.projects-page.ui.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.projects-title {
  font-weight: bolder !important;
  letter-spacing: 3px;
}

.project-item-index {
  padding-right: 2rem;
}

.project-item {
  -webkit-transition: transform 0.2s ease-out !important;
  transition: transform 0.2s ease-out !important;
}

.project-item:hover {
  transform: scale(0.98);
}

.project-item:hover .project-item-header {
  color: rgba(0, 0, 0, 0.85) !important;
}
